::before,
::after,
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5rem;
}

body {
  box-sizing: border-box;
  line-height: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Page 1 Css  */

#header_navbar {
  background: #fff;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  padding-left: 50px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logo-head {
  font-size: 30px;
}

.page1 {
  color: #fff;
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(./common-bg.svg);
  background-position-x: 0%, 0%;
  background-position-y: 0%, 0%;
  background-position: center;
  height: auto;
  max-width: 100%;
}

#page1-divs {
  padding-top: 150px;
}

#social_links {
  width: 90px;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.logo-name {
  font-size: 30px;
}

.link-text {
  color: black;
}

.main-div-link {
  position: absolute;
  right: 0;
}

.centre_name {
  font-size: 5rem;
  font-weight: 700;
  color: black;
  padding-top: 60px;
}

.centre_discription {
  color: black;
  font-size: 2rem;
  padding-top: 60px;
}

#project_button {
  margin-top: 50px;
  width: 250px;
  background-color: rgb(250, 207, 15);
  background-attachment: scroll;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  margin-bottom: 50px;
}
/* End of Page1 css */

/* Page2 Css */
.second_page {
  width: 70%;
  margin: 0px auto;
}

.secondpage_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
  column-gap: 100px;
}

.detail {
  color: rgb(88, 88, 88);
}

.yellow {
  color: rgb(250, 207, 15);
}

.skill-name {
  display: flex;
}

.skills {
  display: inline-block;
  background-color: rgba(153, 153, 153, 0.2);
  color: rgb(88, 88, 88);
  font-size: 20px;
  margin: 10px;
  padding: 15px;
}

/* End Of 2nd page Css */

/* 3rd page CSS */
.whole-thirdpage {
  background-color: black;
}

.projects-heading {
  width: 80%;
  margin: 0px auto;
}

.yellow-icon {
  width: 45px;
  height: 8px;
  margin: 0px auto;
  background-color: rgb(250, 207, 15);
  border: black transparent 1px;
  border-radius: 5px;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10rem;
  column-gap: 100px;
  width: 90%;
  margin: 0px auto;
}

.ui-image {
  width: 400px;
  height: auto;
}

/* completed project Section */

.whole-third-page {
  color: #fff;
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(./common-bg.svg);
  background-position-x: 0%, 0%;
  background-position-y: 0%, 0%;
  background-position: center;
  height: auto;
  max-width: 100%;
}

.third-page-container {
  width: 80%;
  margin: 0px auto;
}

.aboutme-sub {
  margin: 0px auto;
}

.contact-form {
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  color: rgba(51, 51, 51, 0.2);
  background: #fff;
  text-align: left;
  width: 95%;
  border-radius: 5px;
  margin: 0px auto;
}

.input-label {
  display: block;
  font-size: 20px;
}

.input-recieve {
  width: 60%;
  height: 50px;
  border: 1px solid #ebebeb;
  background: #f0f0f0;
}

/* end of 4th section */

/* footer */

.main-footer {
  background: #000;
  color: #fff;
}

.main-footer-upper {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0px auto;
}

.footer-upper-elements {
  position: relative;
  left: 0;
}

.footer-social-links {
  width: auto;
  height: auto;
  margin: 10px;
  padding: 10px;
}

/* The End Of Css */

/* Lets Do some Touch up wit CSS */
