::before,
::after,
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5rem;
}

body {
  box-sizing: border-box;
  line-height: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Page 1 Css  */

#header_navbar {
  background: #fff;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
  padding-left: 50px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logo-head {
  font-size: 30px;
}

.page1 {
  color: #fff;
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(./common-bg.svg);
  background-position-x: 0%, 0%;
  background-position-y: 0%, 0%;
  background-position: center;
  height: auto;
  max-width: 100%;
}

#page1-divs {
  padding-top: 150px;
}

#social_links {
  width: 90px;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.logo-name {
  font-size: 30px;
}

.link-text {
  color: black;
}

.main-div-link {
  position: absolute;
  right: 0;
}

/* Footer */

.main-footer {
  background: #000;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.main-footer-upper {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0px auto;
}

.footer-upper-elements {
  position: relative;
  left: 0;
}

.footer-social-links {
  width: auto;
  height: auto;
  /* margin: 10px; */
  padding: 10px;
}
