body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-image: url(./background.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  width: 100%;
  height: 100%;
}
.btn{
  width: 200px;
  height: 70px;
  background-color: #2596be;
  border-radius: 6px;
  border: transparent;
  color: white;
  font-weight: bolder;
  font-size: large;
  margin-left: 50px;
}

.container{
  width: 100% auto;
  padding: 50px;
}

.navigation{
  display: flex;
  width: 100% auto;
  height: 150px;
}

.links{
  position: relative;
  flex-direction: column;
  width: auto;
  text-align: center;
  
}
.companyname{
  margin: 10px;
  padding-top: 10px;
}

a{
  text-decoration: none;
  font-size: xx-large;
  color: white;
  text-align: center;
  padding: 20px 10px 0px 50px;
}

img{
  padding: 10px 50px 10px 20px;
}

#company{
text-align: center;
justify-content: center;
}

.main{
  padding: 20px 50px 50px 50px;
  font-size: xx-large;
}
.discription, .discription1 , .discription2 {
  padding-left: 50px;
  margin-top: -20px;
}
footer{
  display: flex;
  padding: 10px 30px 30px 30px ;
}

.footers{
  flex-direction: column;
  padding: 0px 50px 0px 50px;
}

hr{
  margin-left: 80px;
  margin-right: 80px;
}

.user{
  position: absolute;
  right: 200px;
}

.linkprop{
  padding-top: 30px;
}

@media(max-width:1200px){
  .container,.main ,a{
    font-size: large;
  }
  .header{
    font-size: medium;
  }
  .user{
    right: 50px;
  }
  img{
    width: 80px;
  }
  .container{
    padding: 0px auto;
  }
}